.uppeer-image {
    background: rgba(0, 0, 0, 0.548) url("../images/plant1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;
    background-blend-mode: darken;
}
.three_card .card {
    box-shadow: 1px 1px 5px 1px #C0C0C0;
}

.three_card .card:hover {
    box-shadow: 5px 5px 10px 10px #C0C0C0;
    border: 2px solid #00FF00;
}

.three_card a {
    color: #00FF00;
}

a:hover {
    color: red;
}
.first_first_card {
    width: 20rem;
    height: 30rem;
}

@media (max-width: 320px){
    .first_first_card {
        width: 18rem;
    }
} 
@media (max-width: 240px){
    .first_first_card {
        width: 13rem;
    }
    .third_card {
        height: 590px;
    }
}
@media screen and (min-width: 376px) and (max-width: 400px){
    .first_first_card {
        width: 22.5rem;
    }
}
@media screen and (min-width: 370px) and (max-width: 376px){
    .first_first_card {
        width: 21.5rem;
    }
}
@media screen and (min-width: 411px) and (max-width: 415px){
    .first_first_card {
        width: 24rem;
    }
}
@media screen and (min-width: 500px) and (max-width: 713px){
    .first_first_card {
        width: 15rem;
    }
}
@media screen and (min-width: 416px) and (max-width: 481px){
    .first_first_card {
        width: 28rem;
    }
}
