
.three_card .card {
    box-shadow: 1px 1px 5px 1px #C0C0C0;
}

.three_card .card:hover {
    box-shadow: 5px 5px 10px 10px #C0C0C0;
    border: 2px solid #00FF00;
}

.three_card a {
    color: #00FF00;
}

a:hover {
    color: red;
}
.first_first_card {
    width: 20rem;
    height: 30rem;
}

@media (min-width: 320px){
    .first_image {
        width: 365px;
        height: 200px;
    }
    .first_first_card {
        width: 18rem;
    }
}
@media (min-width: 360px){
    .first_image {
        height: 220px;
    }
    .first_first_card {
        width: 21rem;
    }
 
}  
@media screen and (min-width: 390px) and (max-width: 480px) {
    first_first_card {
        width: 30rem;
    }
}
