.big_image {
    height: 300px;
    width: 100%;
    
}
.youtube_video {
    height: 400px;
    width: 100%;
}
.banner_image_tittle {
    font-size: 36px;
    color: white;
}
.psychrometer_image {
    height: 300px;
    width: 300px;
    float: right;
}