

.big_image {
	background: rgba(0, 0, 0, 0.548) url("../images/garden1.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	color: #fff;
	background-blend-mode: darken;
}

.garden_image h1 {
	text-align: left;
	padding-left: 15px;
	padding-top: 0px;
}

.project_text {
	padding-top: 40px;
}

.project_text1 {
	padding-top: 70px;

}

.project_text2 {
	padding-top: 70px;

}

.project_text3 {
	padding-top: 70px;
}

.project_text4 {
	padding-top: 70px;
}

.project_text5 {
	padding-top: 70px;
}

.project_text6 {
	padding-top: 70px;
}

.project_text7 {
	padding-top: 70px;
}

.project_text8 {
	padding-top: 70px;
}

.project_text9 {
	padding-top: 70px;
}

.project_text10 {
	padding-top: 70px;
}

.project_text11 {
	padding-top: 70px;
}

.project_text12 {
	padding-top: 70px;
}

.farm {
	padding: 50px;
	background-color: black;

}

.project_text10 {
	padding-top: 70px;
}



@media screen and (max-width: 850px) {
	.garden_image {
		height: 30%;
	}

	.farm {
		width: 100%;
		height: 30%;
	}

	.farm1 {
		width: 100%;
		height: 30%;
	}
}