.first_image {
    background: rgba(0, 0, 0, 0.548) url("../images/farm.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: darken;
}

.banner-area h1 {
    color: white;
    font-size: 35px;
    font-family: sans-serif;
}
.youtube_video {
    height: 400px;
    width: 100%;
}
@media screen and (min-width: 200px) and (max-width: 900px) {
    .first_image {
        height: 220;
    }
    .banner-area h1 {
        font-size: 20px;
    }
} 