.head_img{
    height: 230px;
}
.img-bg{
  background: rgba(24, 23, 23, 0);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: #fff;
  background-blend-mode: darken;
}
.center-head{
    margin-top: 40px;
}
.abt-trn{
    color:black;
    font-weight: 700;  
}

.head-cont{
    margin-top: 20px;
}
.mp{
    color: black;
}
.p-text{
    columns: #2D2D37;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}
.cursoul-img{
    object-fit: contain;
}
.icons{
    display:flex;
    justify-content: space-around;
    margin-left: -5px;
}
.icon-socia{
    font-size: 20px;
}
.pnf{
    color: black;
}
.training{
    font-weight: 800;
    padding-top: 180px;
    color: white;
}
.abt-me{
    padding-top: 20px;
    font-weight: 700;
}
.profile-img{
    height: 390px;
}
.exp{
    padding-top: 110px;
}
.abilities{
    padding-top: 30px;
}
.card-box{
    margin-top: 80px;
}
.imgchk{
    font-size: 30px;
}
.box-bdy{
    background-color: #F9FCC6C4;
}
.img-wp{
    height: 900px;
}
.abt-tng {
    font-weight: 500;
    padding-top: 20px;
    color:white;
}
.hydroponics{
    color:white;
    font-size: 15px;
}
.card-curs{
    height: 500px;
    object-fit: contain;
}
.hydroponics-two{
    color:white;
    font-size: 18px;   
}

.end-card{
    background-color: #F9F9F9
}

.grid-mid{
    padding-top: 30px;
}
.mid-img{
    height: 400px;   
}
.mid-cont{
    padding-top: 80px;
}
.flow-ic{
    font-size: 20px;
}
.fourthgrid{
    padding-top: 60px;
}
.apki{
    margin-top: 90px;
}
.img-size{
    height: 400px;
}
.l-img{
    height: 20px;
}
.img-crd{
    background: rgba(2, 2, 2, 0.719) url("../images/our-beautiful-big-farm.webp");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  background-blend-mode: darken;
}
.client{
    padding-top: 40px;
}
.three-card{
    background-color: #56D86CA3;
}
.three-card-end-text{
    color: #54595F;
    
}
.img-photo{
    height: 25px;  
}

@media screen and (min-width:300px) and (max-width:500px){
    .profile-img{
        width:300px ;
    }
    
}
@media screen and (min-width:500px) and (max-width:700px){
    .profile-img{
        width:300px;
    }
}
@media screen and (min-width:710px) and (max-width:900px){
    .fourthgrid {
        
        font-size: 10px;
    }
    .below{
        margin-top: -20px;
    }
}